[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fluxfinder"]
	path = fluxfinder
	url = https://github.com/compass-doe/fluxfinder
